@import url(https://fonts.googleapis.com/css2?family=Poppins);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: linear-gradient(135deg, #9ce671, #59b69a);
}

#modal-head{
    border-bottom: 0px;
    height: 5px;
}

#modal-body{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

div.pix-qrcode{
	width: 100%;
	padding-left: 10px;
	padding-right: 10px;
	word-wrap: break-word;
    font-size: 9pt;
}

div.pix-qrcode strong{
    font-size: 11pt;
}

div#consulta-pix-div{
    width: 100%;
}

div#consulta-pix{
    height: 25px;
    width: 30%;
    float: right;
}

button#btn-consulta-pix{
    width: 100%;
    height: 100%;
    outline: none;
    color: #fff;
    border: none;
    font-size: 12px;
    font-weight: 100;
    border-radius: 5px;
    letter-spacing: 1px;
    background: #28a745;
}

button#btn-consulta-pix:hover{
    box-shadow: 0 0 1em #59b69a;
}

.container{
    max-width: 700px;
    width: 100%;
    background: #fff;
    padding: 25px 30px;
    border-radius: 5px;
}

.container .title{
    font-size: 25px;
    font-weight: 500;
    position: relative;
}

.container .title::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background: linear-gradient(135deg, #7be671, #59b69a);
}

.container form .pix-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}

form .pix-details .input-box{
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}

.pix-details .input-box .details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.pix-details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.pix-details .input-box select{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    border-color: #59b69a;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
}

.pix-details .input-box input:focus,
.pix-details .input-box input:valid{
    border-color: #59b69a;
}

form .button{
    height: 45px;
    margin: 45px 0;
}

form .button input{
    width: 100%;
    height: 100%;
    outline: none;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    letter-spacing: 1px;
    background: #28a745;
}

form .button input:hover{
    box-shadow: 0 0 1em #59b69a;
}

@media (max-width: 584px){

    div#consulta-pix{
        height: 35px;
        width: 50%;
        float: none;
        margin: 0 auto;
    }

    button#btn-consulta-pix{
        font-size: 15px;
    }

    #img-qrcode{
        margin: 0 auto;
    }
    
    .container{
        max-width: 100%;
    }

    form .pix-details .input-box{
        margin-bottom: 15px;
        width: 100%;
    }

    .container form .pix-details{
        max-height: 300px;
        overflow-y: scroll;
    }

    .pix-details::-webkit-scrollbar{
        width: 0.4%;
    }

}


